<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.avatar_file_name != nil %>
  <%= image_tag(@user.avatar.url, size: "200x200") %><br>
<% elsif @user.identity %>
  <%= image_tag(@user.identity.image, size: "200x200") %><br>
<% end %>

<%= form_for @user do |f| %>
  
  <div>
    Photo: <%= f.file_field :avatar %>
  </div> 
  
  <div>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

  <div> 
    <%= f.label :phone, "Phone:" %>
    <%= f.text_field :phone %><br>
  </div>

  <div> 
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %><br><br>
  </div>

  <%= f.submit "Update Profile" %> 

<% end %><br>

<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %>
<% end %>





