<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% flash[:success] ? "#{flash[:success]} \n" : nil  %>

<% if @user.identity %>
  <%= image_tag(@user.identity.image) %><br>
<% end %>

<strong><%= @user.name ||= @user.identity.name %></strong><br>

<% if @user.role != nil %>
  <%= "#{@user.role.capitalize}" %><br>
<% end %>

<% if @user.phone != nil %>
  <%= @user.phone %><br>
<% end %>

<%= @user.email %><br>
<em><%= @user.created_at.strftime("Joined on %B %d, %Y") %></em><br>
<%= link_to "Edit", edit_user_path(@user) if @user == current_user || current_user.email == "zach.newburgh@gmail.com" %><br>
