<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @users.each do |user| %>
  <div>
    <%= link_to image_tag(user.identity.image) %><br>
    <%= user.identity.name %><br>
    <%= user.identity.phone ? user.identity.phone + "\n" : nil %>
    <%= user.identity.email ? user.identity.email + "\n" : nil %>
    
    <% if current_user.email == "zach.newburgh@gmail.com" || current_user.identity.email == "zach.newburgh@gmail.com" %>
      <%= form_for :user do |f| %>

        <%= f.radio_button :role, 'manager' %> 
        <%= label :role, 'Manager' %>
        <%= f.radio_button :role, 'counter' %>
        <%= label :role, 'Counter' %>
        <%= f.radio_button :role, 'busser' %>
        <%= label :role, 'Busser' %><br>

        <%= f.radio_button :rating, 'high' %> 
        <%= label :rating, 'High' %>
        <%= f.radio_button :rating, 'medium' %>
        <%= label :rating, 'Medium' %>
        <%= f.radio_button :rating, 'low' %>
        <%= label :rating, 'Low' %><br>
        <%= f.submit "Update" %>
      <% end %>
  <% end %>

  </div>
<% end %>
