<% if current_user.email == @user.email %>
    
    <h2>Request Form</h2>
    <strong>Availability</strong>

    <%= form_for [@user, @request] do |f| %>

        <br><%= label :monday, "Monday:" %>
        <%= f.text_field :monday %><br>

        <br><%= label :tuesday, "Tuesday:" %>
        <%= f.text_field :tuesday %><br>

        <br><%= label :wednesday, "Wednesday:" %>
        <%= f.text_field :wednesday %><br>

        <br><%= label :thursday, "Thursday:" %>
        <%= f.text_field :thursday %><br>

        <br><%= label :friday, "Friday:" %>
        <%= f.text_field :friday %><br>

        <br><%= label :saturday, "Saturday:" %>
        <%= f.text_field :saturday %><br>

        <br><%= label :sunday, "Sunday:" %>
        <%= f.text_field :sunday %><br>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <br><%= f.submit %>
        
    <% end %><br>

<% end %>