<%= form_for @shift do |f| %>

  <div>
    <%= f.label :day, "Day:" %>
    <%= f.select :day, [ 'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday' ], prompt: '', required: true %><br><br>
  </div>

  <div>
    <%= f.label :role, "Type:" %>
    <%= f.select :role, [ 'Manager','Counter','Busser' ], prompt: '', required: true %><br><br>
  </div>

  <div>
    <%= f.label :time, "Time:" %>
    <%= f.text_field :time, required: true %><br><br>
  </div>

  <div>
    <%= f.label :staff, "Staff needed:" %>
    <%= f.number_field :staff, style: 'width: 35px', in: 1..5, required: true %><br><br>
  </div>

  <%= f.submit %>
<% end %>