<% if admin %>

  <h1>Shifts#index</h1>
  <p>Find me in app/views/shifts/index.html.erb</p>

  <%= link_to "Add Shift", new_shift_path, id: "new_shift", remote: true %><br>

<table>
<!-- Day Headings -->
    <% days.each do |day| %>
      <td><div id="<%= day.downcase %>"><h3><%= day %></h3>
      <!-- Role Headings -->
      <% @shifts.map {|shift| shift.role unless shift.day != day}.uniq.each do |role| %>
        <section id="<%= day.downcase %>-<%= role.to_s.downcase %>">
          <strong><%= role %></strong>
          <!-- Each Shift (matching day and role) -->
          <% @shifts.select {|shift| shift.role == role && shift.day == day}.each do |shift| %>
            <section id="<%= day.downcase %>-<%= role.to_s.downcase %>-<%= shift.id %>">
              <p><u><%= link_to shift.time, shift_path(shift) %></u><br>
              Staff Needed: <%= shift.staff %></p>
            </section>
          <% end %>
        </section>
      <% end %>
      <div></td>
    <% end %>

</table>


<% end %>