  <h1>Posts#index</h1>
  <p>Find me in app/views/posts/index.html.erb</p>

  <% if admin %>
    <%= link_to "Add Note", new_post_path, id: "new_link", remote: true %>
  <% end %>

<section id="posts">
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <em><%= post.updated_at.strftime("Posted on %B %d, %Y") %></em>

    <% if admin %>
      <p>
        <u>Not yet commented:</u>
          <% @users.map {|user| user.name}.reject{|name| name if post.comments.map {|comment| comment.user.name}.uniq.include?(name)}.each do |name| %>
            <li><%= name %></li>
          <% end %> 
      </p>

      <p>
        <%= link_to "Edit Post", edit_post_path(post) %> |
        <%= link_to "Delete Post", post,  method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  <% end %>
</section>

