  <h1>Posts#index</h1>
  <p>Find me in app/views/posts/index.html.erb</p>

  <% @posts.each do |post| %>
    <p><strong><%= post.title %></strong>
    <br><em><%= post.updated_at.strftime("Posted on %B %d, %Y") %></em>
    <p><%= post.body %></p>
    Tags:
    <%post.tags.each do |tag| %>
      <%= "#{tag.name} " %>
    <% end %>
    <p>
      <%= link_to "Edit Post", edit_post_path(post) %> |
      <%= link_to "Delete Post", post,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <p><%= link_to "Add Comment", new_post_comment_path(post.id) %></p>

    <% post.comments.each do |comment| %>
      <p>
        <strong><%= comment.user.name + " " + comment.created_at.strftime("left a comment on %B %d, %Y:") %></strong><br>
        <%= comment.body %>
      </p>
    <% end %>

  <% end %>

