<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h2><%= @post.title %> <%= link_to "(edit)", edit_post_path(@post) if admin %><%= " | " if admin %><%= link_to "(delete)", @post, method: :delete, data: { confirm: 'Are you sure?' } %> </h2>
<em><%= @post.updated_at.strftime("Posted on %B %d, %Y") %></em>
<p><%= @post.body %></p>
Tags:
<% @post.tags.each do |tag| %>
  <%= link_to "#{tag.name}", tag_path(tag) %>
<% end %><br><br>

<%= link_to "Load Comments", post_comments_path(@post.id), id: "load_comments", remote: true %>

<div id="comments">
</div>

<p><%= link_to "Add Comment", new_post_comment_path(@post.id) %></p>