<!DOCTYPE html>
<html>
<head>
  <title>Shiftr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if user_signed_in? %>
    <%= link_to "Home", users_path unless !current_user %><br>
    <%= link_to "Profile", user_path(current_user) %><br>
    <%= link_to "Schedule", schedule_index_path %><br>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
