<!DOCTYPE html>
<html>
<head>
  <title>Shiftr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= link_to "Home", welcome_index_path unless !current_user %><br>
  <%= link_to "Profile", welcome_path(current_user) unless !current_user %><br>
  <%= link_to "Signout", destroy_user_session_path, method: :delete unless !current_user %><br><br>

</head>
<body>

<%= yield %>

</body>
</html>
